{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}


{% block page_content %}


<!-- Include the header with navigation and social icons -->

{% include 'pages/header.html' %}



<div class="row align-items-center" style="min-height: 100vh; background-image: url('{% static 'images/coding-background.jpg' %}'); background-size: cover; background-position: center;">
    <div class="col-md-6 text-center">
        <h1 class="display-4 text-white">Welcome to My Portfolio</h1>
        <p class="lead text-white">Creating innovative cloud and IT solutions that deliver measurable results.</p>
        <a href="#skills" class="btn btn-primary mt-3">View My Skills</a>
    </div>
    <div class="col-md-6 text-center">
        <img src="{% static 'images/profile-pic.png' %}" class="img-fluid rounded-circle border border-dark shadow-lg" alt="Profile Picture" style="max-width: 300px;">
    </div>
</div>

<div id="skills" class="my-5">
  <h2 class="text-center text-light">My Skills</h2>
  <div class="row">
      <div class="col-md-3 text-center mb-4">
          <i class="fab fa-aws fa-3x"></i> <!-- AWS Icon -->
          <h3 class="text-light">AWS</h3>
          <p class="text-light">Expertise in Amazon Web Services.</p>
      </div>
      <div class="col-md-3 text-center mb-4">
          <i class="fas fa-cloud fa-3x"></i> <!-- Cloud Icon -->
          <h3 class="text-light">Cloud</h3>
          <p class="text-light">Cloud architecture and deployment.</p>
      </div>
      <div class="col-md-3 text-center mb-4">
          <i class="fas fa-brain fa-3x"></i> <!-- AI Icon -->
          <h3 class="text-light">AI</h3>
          <p class="text-light">Machine learning and AI solutions.</p>
      </div>
      <div class="col-md-3 text-center mb-4">
          <i class="fab fa-docker fa-3x"></i> <!-- Docker Icon -->
          <h3 class="text-light">Docker</h3>
          <p class="text-light">Containerization and orchestration.</p>
      </div>
  </div>
</div>

<script>
    particlesJS("particles-js", {
      "particles": {
        "number": { "value": 100 },
        "size": { "value": 3 }
      },
      "interactivity": {
        "events": {
          "onhover": { "enable": true, "mode": "repulse" }
        }
      }
    });
  </script>

{% endblock page_content %}